<!-- Validation failure messages -->
<% if @foods_recipe.errors.any? %>
  <% @foods_recipe.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Foods Recipe</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_foods_recipe" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for foods_id -->
      <div class="form-group">
        <label for="foods_id" class="control-label">
          Foods
        </label>

        <%= select_tag(:foods_id, options_from_collection_for_select(Food.all, :id, :name, @foods_recipe.foods_id), :class => "form-control") %>
      </div>

      <!-- Label and input for recipes_id -->
      <div class="form-group">
        <label for="recipes_id" class="control-label">
          Recipes
        </label>

        <input type="text" id="recipes_id" name="recipes_id" placeholder="Recipes" class="form-control" value="<%= @foods_recipe.recipes_id %>">
      </div>

      <button class="btn btn-success">
        Create Foods Recipe
      </button>
      or
      <a href="/foods_recipes">Cancel</a>
    </form>
  </div>
</div>
